<div class="container">
  <div class="content">
    <h1>Bem-vindo!</h1>

    <form>
      <div class="field">
        <label for="userName">Nome</label>
        <input
          type="text"
          name="userName"
          id="userName"
          formControlName="userName"
          required
        />
      </div>
      <div class="field">
        <label for="email">E-mail</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
        />
      </div>

      <div class="field">
        <label for="password">Senha</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          required
        />
      </div>

      <div class="field">
        <label for="confirmPassword">Confirme a Senha</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
        />
      </div>

      <input type="submit" value="Criar Conta" />
    </form>

    <div class="auth center">
      <p>ou conecte-se com</p>
      <ul>
        <li><img src="assets/images/google.svg" alt="Google icon" /></li>
        <li><img src="assets/images/github.svg" alt="Github icon" /></li>
        <li><img src="assets/images/facebook.svg" alt="Facebook icon" /></li>
      </ul>
    </div>

    <p>Já possui uma conta? <a [routerLink]="['/login']">Login</a></p>
  </div>
</div>
