<div class="container">
  <div class="content">
    <h1>Olá! Nós somos Lídia e Kelwyn</h1>

    <p>
      Apesar de termos estudado na EST-UEA, nos conhecemos durante um
      <a href="https://www.youtube.com/@lidiaekelwyn/videos" target="_blank"
        >intercâmbio na França</a
      >
      em 2019, pela própria UEA.
    </p>

    <img src="./assets/images/lidia-e-kelwyn/intercambio.jpg" alt="" />

    <p>
      Voltamos para Manaus em 2020 já fazendo as contas para nos
      <a href="https://youtu.be/OM4nWOxPqjY?si=6m7buE_1_3KYTW8s" target="_blank"
        >casar</a
      >.
    </p>
    <p>
      Em 2022, realizamos esse sonho e começamos uma nova jornada e a busca por
      um novo sonho: atingir uma meta financeira e buscar uma experiência de
      vida próxima à que tivemos na França - <span>só que no Brasil</span>.
    </p>

    <p>
      Agora, mesmo com regime de trabalho em home-office,
      <span
        >a empresa da Lídia pediu sua mudança para que possa trabalhar
        presencialmente em dias específicos</span
      >.
    </p>

    <p>
      Então encaramos isso como uma oportunidade de avançar no sonho de
      encontrar o "Aytré no Brasil". Mas
      <span>não levaremos nossos móveis conosco</span>.
    </p>

    <p>
      <span
        >Nosso objetivo ao vender os móveis é reduzir os custos da mudança</span
      >
      e iniciar esta nova fase de nossas vidas com leveza e praticidade.
    </p>

    <p>
      Esperamos que você se sinta em casa em nossa página e possa
      <a [routerLink]="['/']">
        aproveitar a oportunidade de adquirir um semi-novo com um bom desconto!
      </a>
    </p>

    <p>Com carinho,</p>

    <p>
      <a
        href="https://www.instagram.com/lidiascarolina/"
        target="_blank"
        rel="noopener noreferrer"
        >Lídia</a
      >
      e
      <a
        href="https://www.instagram.com/kelwyn.oliveira/"
        target="_blank"
        rel="noopener noreferrer"
        >Kelwyn</a
      >
    </p>
  </div>
</div>
