<app-banner />
<div class="content">
  <div *ngFor="let product of products" class="product">
    <div class="product-image">
      <div *ngIf="product.comparePrice && !product.sold" class="off">
        <p style="text-wrap: nowrap">
          Poupe
          <span
            >{{
              (100 - (product.price * 100) / product.comparePrice).toFixed(0)
            }}%</span
          >
        </p>
      </div>
      <div *ngIf="product.sold" class="sold">Vendido</div>
      <a href="{{ product.url }}" *ngIf="!product.sold">
        <img src="{{ product.photo }}" alt="" />
      </a>
      <img src="{{ product.photo }}" alt="" *ngIf="product.sold" />
    </div>
    <div *ngIf="!product.sold">
      <a href="{{ product.url }}">
        <h2>{{ product.title }}</h2>
        <p class="price">
          <span>R$</span
          >{{
            product.price.toLocaleString(undefined, {
              minimumFractionDigits: 2
            })
          }}
          <span>à vista</span>
        </p>
        <p>
          ou 12x de <span>R$</span
          >{{
            product.priceParcela.toLocaleString(undefined, {
              minimumFractionDigits: 2
            })
          }}
        </p>
      </a>
    </div>
    <hr *ngIf="!product.sold" />
    <div class="compare" *ngIf="!product.sold">
      <p>
        Na loja:
        <a href="{{ product.compareUrl }}" target="_blank">
          {{ product.comparePlace }}: R${{
            product.comparePrice.toLocaleString(undefined, {
              minimumFractionDigits: 2
            })
          }}
        </a>
      </p>
    </div>
  </div>
</div>
